fdk:
  pay:
    tenpay:
      app-id:
      partner:
      key:
      cert-local-path:
      cert-password:
      input-charset:
      notify-url:
    alipay:
      app-id:
      partner:
      private-key:
      public-key:
      input-charset:
      notify-url:
