fdk:
  shiro:
    saCode: "fdk" #????
    session-timeout: 1800000 #Session????
    filter:
#?????????????URL???????302??
#      login-url: "/login" #??URL
#      success-url: "/login" #????URL?????????????????url
#      unauthorized-url: "/login" #???URL
      chain:
#???????????????????????filter????????
#       - "captcha,login:/login" #????????
#       - "logout:/logout" #???????
#       - "anon:/captcha.jpg" #????????????
#       - "???????"
       - "authc:/**" #????
#?????????????????
  captcha:
    enable: true #????
#    request-name: "captchaCode" #????????
#    border: "yes" #?????
#    borderColor: "105,179,90" #????
#    font-color: "blue" #??????
#    font-names: "??,??,????" #??????
#    char-length: 4 #??????
#    image-width: 125 #???????
#    image-height: 45 #???????
#    session-key: "fdkCaptchaCode" #?????Session?Key