#FTP主机
ftp.hostname=128.0.3.253
#FTP 端口
ftp.port=21
#FTP用户名
ftp.username=ftpuser
#FTP密码
ftp.password=ftp123456
#FTP被动池
ftp.passiveModeConf=true
#最大池容量
ftp.pool.maxActive=10
#池为空时取对象等待的最大毫秒数
ftp.pool.maxWait=30000
#取出对象时验证(此处设置成验证ftp是否处于连接状态).
ftp.pool.testOnBorrow=true
#还回对象时验证(此处设置成验证ftp是否处于连接状态).
ftp.pool.testOnReturn=true;